.offers {
  background-color: white;
  padding: 100px 0;
}

.offers-content {
  margin: 50px 120px;
  flex-direction: column;
}

.offers-cards {
  flex-flow: row wrap;
}

.offers-card {
  min-width: 450px;
  max-width: 530px;
  margin: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: inset 250px 0px 70px 0px #ffeea0e8;
  background-image: url("/img/offer-card1.jpg");
  background-size: cover;
  &:hover {
    border: 1px solid rgb(224, 163, 94);
  }
}

.offers-card-content {
  margin: 30px;
}

.discount-on-image {
  width: 80px;
  height: 80px;
  background-image: url("/img/discount-red.png");
  background-size: cover;
  font-weight: 600;
  font-size: 20px;
}

.offers-card__title,
.offers-card__text {
  margin: 10px 0;
}
