.nav {
  border-bottom: 2px solid #eaeae8;
}

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0px 10px;
  cursor: pointer;
  &:hover {
    //background-color: #ffece7;
    color: #e0a45e;
  }
}

.nav-link {
  display: inline-block;
  padding: 0 10px;
  height: 70px;
  line-height: 70px;
}

.nav-link-active {
  color: #e0a45e;
  line-height: 74px;
  border-bottom: 4px dotted #e0a45e;
}
