.catalog {
  margin: 100px 0;
}

.catalog-content {
  margin: 20px 318px;
  flex-direction: column;
}

.navbysection {
  width: 100%;
}

.navbysection-content {
  padding: 0;
}

.navbysection-item {
  list-style-type: none;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.catalog-list {
  width: 100%;
}

.catalog-list-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px;
}

.catalog-list-one {
  position: relative;
  flex-direction: column;
  width: 320px;
  padding: 40px 15px 50px;
  margin: 10px;
  border: 1px solid rgba(224, 164, 94, 0.5);
  border-radius: 5px;
  &:hover {
    border: 1px solid rgb(224, 163, 94);
  }
  & p {
    margin: 5px;
  }
}

.catalog-list-one__img {
  width: 200px;
  height: 200px;
}

.catalog-list-one__basket {
  background-color: #45271f;
  border-radius: 10px;
  padding: 5px 40px;
  margin: 0px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  &:hover {
    color: rgb(224, 163, 94);
  }
}

.catalog-list-one__discount {
  width: 60px;
  height: 60px;
  background-image: url("/img/discount-red.png");
  background-size: cover;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 15px;
}

.catalog-list-one__hot {
  width: 60px;
  height: 60px;
  background-image: url("/img/discount-beige.png");
  background-size: cover;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 15px;
}
