.header {
  height: 170px;
  padding: 0px 90px;
  border-bottom: 2px solid #eaeae8;
}
.header-info {
  display: flex;
}

.header-info__address {
  margin-left: 20px;
}

.header-info__workTime {
  padding: 0 20px;
}

.header-info__lang-select {
  background-color: #fffbf0;
  border: none;
}
