.footer {
  border: 2px solid #eaeae8;
}

.footer-content {
  margin: 60px 70px;
}

.footer-title {
  margin: 30px 0;
}

.footer__col-1,
.footer__col-2,
.footer__col-3 {
  width: 300px;
  margin: 0 50px;
}

.footer__col-2-links {
  display: flex;
  & div{
    margin-right: 40px;
  }
  & a {
    text-decoration: none;
    cursor: pointer;
  }
  & a:hover{
    color: #e0a45e;
  }
}

.footer-copyrights {
  height: 70px;
  border-top: 2px solid #eaeae8;
}
