.footer {
  border: 2px solid #eaeae8;
}

.footer-content {
  margin: 100px 300px;
}

.footer-title {
  margin: 30px 0;
}

.footer__col-1,
.footer__col-2,
.footer__col-3 {
  width: 300px;
}

.footer__col-2-links {
  width: 240px;
}

.footer__col-2-links a {
  text-decoration: none;
  cursor: pointer;
}

.footer__col-2-links a:hover {
  color: #e0a45e;
}

.footer-copyrights {
  height: 70px;
  border-top: 2px solid #eaeae8;
}
